/Problema 1/Problema 1/nbproject/private/
/Problema 1/Problema 1/build/
/Problema 2/Problema 2/nbproject/private/
/Problema 2/Problema 2/build/
/Problema 4/Problema 4/nbproject/private/
/Problema 4/Problema 4/build/
/Problema 3/Problema 3/nbproject/private/
/Problema 3/Problema 3/build/
